DATABASE_URL="mysql://<username>:<password>@localhost:3306/nadbooks"
PORT=3000
JWT_SECRET="nadbooks-backend"
JWT_EXPIRES_IN="1h"
FRONTEND_ORIGIN_PREFIX="http://localhost" # http://localhost for local dev or domain name of frontend
NODE_ENV=development # production or development

IGNORE_JWT_EXPIRATION=true # Change to false in production
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback #Port should be where backend is running


STORAGE_PROVIDER=
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
DROPBOX_ACCESS_TOKEN=
DROPBOX_AUTH_CODE=
DROPBOX_REDIRECT_URI=
DROPBOX_REFRESH_TOKEN=
