ALCHEMY_RPC_URL=
ALCHEMY_SECRET=
CENTRAL_WALLET_ADDRESS=
CENTRAL_WALLET_PRIVATE_KEY=
CURRENCYFREAK_SECRET=
DATABASE_URL="mysql://<username>:<password>@localhost:3306/nadbooks"
DROPBOX_ACCESS_TOKEN=
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
DROPBOX_AUTH_CODE=
DROPBOX_REDIRECT_URI=
DROPBOX_REFRESH_TOKEN=
FRONTEND_ORIGIN_PREFIX="http://localhost" # http://localhost for local dev or domain name of frontend
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback #Port should be where backend is running
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
IGNORE_JWT_EXPIRATION=true # Change to false in production
JWT_EXPIRES_IN="1h"
JWT_SECRET="nadbooks-backend"
MOBULA_SECRET=
NODE_ENV=development # production or development
PAYSTACK_SECRET=
PORT=3000
SMART_CONTRACT_ADDRESS=
STORAGE_PROVIDER=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_FIRSTNAME=
SUPER_ADMIN_LASTNAME=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_USERNAME=
