DATABASE_URL="mysql://<username>:<password>@localhost:3306/nadbooks"
PORT=3000
JWT_SECRET="nadbooks-backend"
JWT_EXPIRES_IN="1h"
IGNORE_JWT_EXPIRATION=true # Change to false in production
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CALLBACK_URL=http://localhost:8080/api/auth/google/callback
